@media (min-height: 800px) {
    .modal-dialog.modal-lg {
        width: 1200px;
        height: 1000px; /* control height here */
    }
}
#subedit .modal-xl {
    width: 1000px;
}

#subaddNew {
   z-index: 9998; 
}

#addNew {
   z-index:  9998;
 } 
#adddom {
   z-index:  9998;
 } 
